 <header class="w-full flex justify-between bg-white p-4 shadow-md">
    <div class="text-xl font-bold text-yellow-400">EL DORADO</div>
    <nav class="flex space-x-4">
      <a class="text-gray-500 hover:text-yellow-400" routerLink="/inicio">Inicio</a>
      <a class="text-gray-500 hover:text-yellow-400" routerLink="/nosotros">Nosotros</a>
      <a class="text-gray-500 hover:text-yellow-400" routerLink="/guia">Guía</a>
      <a class="text-gray-500 hover:text-yellow-400" routerLink="/blog">Blog</a>
    </nav>
  </header>
