<div class="flex flex-col items-center justify-center p-4">

 <main class="flex flex-col items-center mt-10">
    <h1 class="text-4xl font-bold text-center mb-4">La SuperApp de Stablecoins para Latinoamérica</h1>
    <p class="text-lg text-center mx-4">
      Compra y vende Tether usando saldo Zinli, Wally, Pago móvil, PayPal, Zelle y más. Publica tus propios anuncios P2P y empieza a ganar dinero por internet.
    </p>
    <div class="mt-8 flex space-x-4">
      <a href="#" class="bg-green-600 text-white p-2 rounded hover:bg-green-700">DISPONIBLE EN Google Play</a>
      <a href="#" class="bg-black text-white p-2 rounded hover:bg-gray-800">Consíguelo en el App Store</a>
    </div>

    <div class="mt-10">
      <p class="text-center">Ofrecemos +70 métodos de pago locales</p>
    </div>
  </main>
</div>
