.subtitle {
  margin-bottom: 2.5rem;
    font-weight: 400;
    display: inline-block;
    font-size: 1.8rem;
}

@media (min-width: 1360px) {
    .subtitle {
        width: 90%;
    }
}

 .subtitle {
    margin-bottom: 2.5rem;
    font-weight: 400;
    display: inline-block;
    font-size: 1.8rem;
}
